#logo h5{
    border: solid black; 
    padding: 14px; 
    border-radius: 20px ;
    height: 50px; width: 200px;
    text-align: center;
    border-width: 1px;
    border-
  =
   

 	
}

h5 {
    text-transform: uppercase;
}

.container #customer
{
    border: 100px;
    border-radius: 100px;
}


.button{
    position: absolute;
    left: 70px;
}